---
import Layout from "@/layouts/LayoutMeta.astro";
import Contribuciones from "../components/metacontribuciones.astro";
---

<Layout title="Contribuciones Científicas">
  <h1 class="text-3xl font-bold text-center mb-8">Contribuciones Científicas</h1>
  <Contribuciones />
</Layout>