---
import Layout from "@/layouts/LayoutMeta.astro";
import Proyectos from "../components/metaproyectos.astro";
---

<Layout title="Proyectos">
  <h1 class="text-3xl font-bold text-center mb-8">Proyectos</h1>
  <Proyectos />
</Layout>