---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Octubre 2023 - Julio 2024",
    title: "Máster en Investigación en Inteligencia Artificial",
    company: "Universidad Internacional Menéndez Pelayo",
    description:
      "Durante mis estudios de Máster, afiancé mis conocimientos en Machine Learning e Inteligencia Artificial, así como especializarme en este campo. Mientras cursaba esta titulación estuve trabajando como investigador en la Universidad de Oviedo."
  },
  {
    date: "Septiembre 2019 - Junio 2023",
    title: "Grado en Ingeniería Informática en Tecnologías de la Información Bilingüe 🇬🇧",
    company: "Universidad de Oviedo",
    description:
      "Durante mi etapa en la Universidad de Oviedo, adquirí una sólida formación en desarrollo de software, administración de sistemas e inteligencia artificial. Mi desempeño académico se vio reflejado en varias Matrículas de Honor, destacando asignaturas como Inteligencia de Negocio, Ingeniería del Software y Administración de Sistemas. Además, mi Trabajo Fin de Grado, realizado en inglés, se centró en la mejora de la eficiencia energética de clústeres de computación mediante predicción de carga con técnicas de IA, combinando investigación y aplicación práctica de tecnologías avanzadas.",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
